.byline {
  opacity: 0.5;
  white-space: nowrap;
}

li span {
  font-size: 0.9rem;
}

.column-name {
  text-transform: lowercase !important;
  font-weight: bold;
  font-style: normal;
  color: black;
}

article:not(:first-child) {
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.references-columns h3 {
  font-style: italic;
  letter-spacing: normal;
  font-feature-settings: normal;
  text-transform: none;
  color: #CD1D3B;
}