.byline {
  opacity: 0.5;
  white-space: nowrap;
}

li span {
  font-size: 0.9rem;
}

.column-name {
  text-transform: lowercase !important;
  font-weight: bold;
  font-style: normal;
}

article:not(:first-child) {
  padding-top: 3rem;
  margin-top: 3.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.references-columns h2, .references-columns h3 {
  max-width: none;
}

.references-columns h3 {
  font-style: italic;
  letter-spacing: normal;
  font-feature-settings: normal;
  text-transform: none;
  color: #CD1D3B;
}

table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

th, td {
  vertical-align: top;
  padding: 0.4rem;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

ul li:before {
  content: '· ';
  margin-left: -0.5rem;
}
