<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="robots" content="index">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.vmii.org/">
    <meta property="og:image" content="https://www.vmii.org/assets/og_image_intro-90378849c9cb0e30a34e7162ac2adba86811079a16cbce6c0f8772e4744b2b62.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@vmii_org">
    <meta name="twitter:creator" content="@bkazez">
    <meta name="twitter:image" content="https://www.vmii.org/assets/twitter_summary_large_image_intro-6fe13a0354bd7c56eda20be80a931921d1ff4b0fe1e4f7ab3689ab5278e2bebd.png">

    <link rel="shortcut icon" type="image/x-icon" href="https://www.vmii.org/favicon.ico" />
    <link rel="apple-touch-icon" type="image/png" href="https://www.vmii.org/assets/apple-touch-icon-57x57-572f6f84dbbdb3d07697d31129077298b46c7ca72cc3655ed07f168a1cbf2bee.png" sizes="57x57" />
    <link rel="apple-touch-icon" type="image/png" href="https://www.vmii.org/assets/apple-touch-icon-72x72-c9a07f3747ca3a13a6d484b69f382b4a410066c1957290a2b5c4e3624455ef25.png" sizes="72x72" />
    <link rel="apple-touch-icon" type="image/png" href="https://www.vmii.org/assets/apple-touch-icon-76x76-df137763d91422cc13c3a3653a18a3556564d194a15f92bfd2d77161e94795ca.png" sizes="76x76" />
    <link rel="apple-touch-icon" type="image/png" href="https://www.vmii.org/assets/apple-touch-icon-114x114-da7937d16aed29c6f0553694a07c20bb3e02d92aef002fd9031c0f9fd8ae397c.png" sizes="114x114" />
    <link rel="apple-touch-icon" type="image/png" href="https://www.vmii.org/assets/apple-touch-icon-120x120-ed81372f701ff07e750d64ad99a0551be59ad5bd4351c08113c9d4a0a246c744.png" sizes="120x120" />
    <link rel="apple-touch-icon" type="image/png" href="https://www.vmii.org/assets/apple-touch-icon-144x144-ad8208c3eea51dbfed6ece529078d6547d619a375a861856366ed5115fb27e2b.png" sizes="144x144" />
    <link rel="apple-touch-icon" type="image/png" href="https://www.vmii.org/assets/apple-touch-icon-152x152-d5b69df8eeb01dfa8da86101bcd474d960fad3ee254e0ec5c78880bd8d306e4c.png" sizes="152x152" />
    <link rel="apple-touch-icon" type="image/png" href="https://www.vmii.org/assets/apple-touch-icon-180x180-62aa1bcfdfd378f87ac71ed8745c3ee69dfc63dd16188cbe2d1cfc167be11133.png" sizes="180x180" />

    <link rel="preload" as="font" href="https://www.vmii.org/assets/c21741d8-dd3a-43b7-8bad-d2ba447c1e81-982d88195074fbb87761e39adaefc7ec349d5843c587b7332cb2ffe8d9836991.woff" type="font/woff" crossorigin>
    <link rel="preload" as="font" href="https://www.vmii.org/assets/62e1d011-5ef4-4182-a757-346be7052c13-f5b43390add918ae26ba9944e0e11cf2fd7927257dcde1161892afc778517386.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://www.vmii.org/assets/2983745623984756239485726348-0a4834c4318144c0b56fa098dd20e34e4da4819fd143514f424ffaf2f015d0bc.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://www.vmii.org/assets/2803274651983475629834756293-59276d43e5660469dff3f338ee63a45a8bf5a559a6474dcb46f055dbc002ff4a.woff2" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="https://www.vmii.org/assets/0189237523457293084572093485-1d66d77377bb3d8b083681cc53caa5944eb5144b97e15b2ed1b2c64e98e04e9f.woff" type="font/woff" crossorigin>
    <link rel="preload" as="font" href="https://www.vmii.org/assets/2798345290348752039485720349-d22b7572e90f9143a639f2a45ef5b20b3537551883f0a7df0668fd85501e3322.woff" type="font/woff" crossorigin>

    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <script async defer data-domain="vmii.org" src="https://plausible.io/js/plausible.manual.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

  </head>

  <body>
    <div class="container-fluid">
      <div class="row app-navbar">
        <div class="col-md-9 offset-md-3 readable-width">
          <div class="title">
            <a href="/">
              Vocal Music Instrumentation&nbsp;Index
            </a>
          </div>
        </div>
      </div>

      {{ content }}

    </div>
  </body>
</html>